.whatToEat {
  .tagWrap {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-top: 48px;
    padding: 20px;
    height: 360px;
    overflow: auto;
    .tag {
      margin: 8px;
    }
  }
  .tag {
    box-sizing: border-box;
    border: 1px solid #78a4f4;
    color: #78a4f4;
    padding: 2px 16px;
    border-radius: 30px;
    height: 50px;
    line-height: 46px;
    display: inline-block;
    margin-right: 10px;
  }
  .eatBtn {
    width: 180px;
    margin-top: 100px;
  }
  .whatToEat_randomText {
    display: block;
    font-size: 60px;
    text-align: center;
    margin: 20px;
    margin-top: 50px;
  }
  .addTag {
    display: inline-block;
    background-color: #78a4f4;
    color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 8px;
  }
  .eatModal {
    .modalDesc {
      display: inline-block;
      color: #bfbfbf;
      margin: 8px 0;
      margin-left: 24px;
    }
    .modalConfirmBtn {
      width: fit-content;
      padding: 0 20px;
      margin-top: 40px;
    }
  }
  .at-float-layout .layout-body__content {
    min-height: 280px !important;
  }
  .at-float-layout .layout-body {
    min-height: unset !important;
  }
  .at-float-layout__container {
    min-height: unset !important;
  }
}
.whatToEatLoadingWrap {
  position: relative;
  height: 1200px;
}